.title {
  font-weight: 500;
  margin-bottom: 3px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.smallButton {
  max-width: 150px;
  margin-top: 10px;
}

.marginBottom {
  margin-bottom: 10px;
}

.smallMarginBottom {
  margin-bottom: 4px;
}

.error {
  color: red;
  font-weight: 500;
  margin-top: 5px;
}
